@font-face {
  font-family: 'Ubuntu';
  src: url('/fonts/Ubuntu-Regular.ttf') format('ttf');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

:root {
  --color-gray-50: #fafafa;
  --color-gray-100: #f5f5f5;
  --color-gray-200: #e5e5e5;
  --color-gray-300: #d4d4d4;
  --color-gray-400: #a3a3a3;
  --color-gray-500: #737373;
  --color-gray-600: #525252;
  --color-gray-700: #404040;
  --color-gray-800: #262626;
  --color-gray-900: #171717;

  --color-darkslate-50: #3d2a3d;
  --color-darkslate-100: #2c1e2c;
  --color-darkslate-200: #261a26;
  --color-darkslate-300: #201620;
  --color-darkslate-400: #1e0a1e;
  --color-darkslate-500: #170817;
  --color-darkslate-600: #140714;
  --color-darkslate-700: #110611;
  --color-darkslate-800: #0e050e;
  --color-darkslate-900: #0b040b;

  --color-primary-100: #f9cdd3;
  --color-primary-200: #f3a3aa;
  --color-primary-300: #ec7981;
  --color-primary-400: #e64f59;
  --color-primary-500: #e63946;
  --color-primary-600: #cf2f3d;
  --color-primary-700: #b82534;
  --color-primary-800: #a01b2b;
  --color-primary-900: #891321;

  --color-purple-100: #faf5ff;
  --color-purple-200: #e9d5ff;
  --color-purple-300: #d8b4fe;
  --color-purple-400: #c084fc;
  --color-purple-500: #a855f7;
  --color-purple-600: #9333ea;
  --color-purple-700: #7e22ce;
  --color-purple-800: #6b21a8;
  --color-purple-900: #581c87;
  --color-purple-950: #581c87;

  --color-teal-50: #f0fdfa;
  --color-teal-100: #ccfbf1;
  --color-teal-200: #99f6e4;
  --color-teal-300: #5eead4;
  --color-teal-400: #00bfae;
  --color-teal-500: #14b8a6;
  --color-teal-600: #0d9488;
  --color-teal-700: #0f766e;
  --color-teal-800: #115e59;
  --color-teal-900: #134e4a;
  --color-teal-950: #042f2e;
}
