---
import { getCollection } from "astro:content";
import PostFeedLayout from "../../layouts/PostFeedLayout.astro";
import PostItem from "../../components/Post/PostItemV2.astro";
import "../../styles/global.css";
import { Icon } from "astro-icon/components";

const posts = (await getCollection("posts"))?.sort(
  (blogEntryA, blogEntryB) =>
    (blogEntryB.data.pubDate || new Date()).getTime() -
    (blogEntryA.data.pubDate || new Date()).getTime()
);
---

<script>
  import { gsap } from "gsap";
  import { ScrollTrigger } from "gsap/ScrollTrigger";
  gsap.registerPlugin(ScrollTrigger);

  const animatePosts = () => {
    const posts = document.querySelectorAll(".post-item");
    posts.forEach((post) => {
      gsap.fromTo(
        post,
        { opacity: 0, y: 10 },
        {
          opacity: 1,
          y: 0,
          duration: 0.5,
          delay: 0.0,
          scrollTrigger: {
            trigger: post,
            start: "top 95%",
            toggleActions: "play none none none",
          },
        }
      );
    });
  };

  document.addEventListener("DOMContentLoaded", animatePosts);
</script>

<PostFeedLayout title="BioCode: Blog" description="">
  <div
    class="w-screen h-full flex flex-col justify-start items-start max-w-2xl mx-auto p-2 md:py-5"
  >
    <div class="h-full"></div>

    <h1
      class="text-5xl f-bold mb-2 text-neutral-100 flex items-center justify-between gap-2"
    >
      <div>BioCode</div>
      <Icon name="mdi:dna" class="w-12 h-12" />
    </h1>
    <div class="f-light mb-4 text-neutral-100/50">
      What I'm working on, articles, ideas, notes, and ramblings.
    </div>
    <div class="w-full">
      <ul class="">
        {
          posts
            ?.filter((post) => post.data.category === "biocode")
            .map((post) => (
              <div class="post-item opacity-0">
                <PostItem
                  title={post.data.title || "No title"}
                  description={post.data.description || "No description"}
                  date={post.data.pubDate || new Date()}
                  url={post.slug}
                  category={post.data.category || "No category"}
                  tags={post.data.tags || []}
                  image={post.data.image || ""}
                  author={post.data.author || "Martin DAVILA"}
                />
              </div>
            ))
        }
      </ul>
    </div>
  </div>
</PostFeedLayout>

<script>
  document.addEventListener("DOMContentLoaded", () => {
    const postItems = document.querySelectorAll(".post-item");
    postItems.forEach((postItem) => {
      postItem.classList.remove("opacity-0");
    });
  });
</script>
